<!Doctype html>
<html lang="en">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <title></title>
     <meta charset="utf-8">
     <meta  name="viewport" content="width=device-width, initial-scale=1">
     <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>



 </head>

         <body >








       <div class="login-box">
         <div id="upload">

         <h1 id="headersignup" class="text-center">College Info</h1>
         <form action="/college" enctype ="multipart/form-data" method="post" class="form-box">
           <input type="file" name="upload_file" /><br>
            <input type="text" name="collegename" class="inp" placeholder="collegename" required>

              <input type="email" name="website" class="inp" placeholder="website" required>
              <br>


            <div class="inp" >
          <select  name="typeOf" >
         <option value="">College Type</option>
         <option value="Public" >
         Public</option>
         <option value="Private" >
         Private</option>
          </select>
          <br />
          <select  name="courses" >
         <option value="">Course Offered </option>
         <option value="Engeneering" >
         Engeneering</option>
         <option value="Business" >
         Business</option>
          </select>
          <input type="text" name="description" class="inp" placeholder="Description" required>
<input type="submit" name="submit" class="sub-btn" value="Create Account Now!!"><br><br>
          <br>





        </form>

         </div>

            <div class="btn-group">

            </div>
          </div>

          <br>
        </div>

      </div>




              <script
                src="https://code.jquery.com/jquery-2.2.4.js"
                integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
                crossorigin="anonymous"></script>


              <!-- Latest compiled and minified JavaScript -->
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
              integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
              crossorigin="anonymous"></script>

   </body>
</html>
